body{
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    text-align: center;
    padding: 20px;

}
*{
    margin: 0;
    padding: 0;
    font-family:  ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
h1{
    color: #b8ff00;
    font-size: 1.8em;
}
body.fade-out{
    opacity: 0;
}
.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.5rem;
      text-align: center;
      z-index: 9999;
      transition: opacity 0.5s ease;
    }

    .overlay.hidden {
      opacity: 0;
      pointer-events: none;
    }

    .overlay .message {
      background: red;
    padding: 2005px 383px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 59, 48, 0.6);
    display: flex;
    align-items: center;
    gap: 15px;
    }

    .overlay img {
      width: 50px;
      height: 50px;
    }

    .restored {
      background: #34c759 !important;
      animation: fadeOut 2s forwards;
    }

    @keyframes fadeOut {
      0% { opacity: 1; }
      100% { opacity: 0; visibility: hidden; }
    }
